  <div class="modal fade" id="modalMotive" tabindex="-1" role="dialog" aria-labelledby="titleMotive" aria-hidden="true">
    <div class="modal-dialog cascading-modal mt-5" role="document">
      <div class="modal-content">
        <div class="modal-c-header">
          <ul class="md-h md-header tabs-2 light-blue darken-3 d-flex align-items-center justify-content-center">
              <h6 class="modal-title md-h title-custom text-white" id="titleMotive">
                  <b><i class="fas fa-info-circle fade_down_animation_2"></i><span> Motivo </span></b>
              </h6>
          </ul>
      </div>       
        <div class="modal-body d-flex align-items-center justify-content-center">
        <p class="text-center">{{motive.motivo}}</p>
        </div>
        <div class="modal-footer mb-2 py-0 border-0 d-flex align-items-center justify-content-center">
          <button type="button" data-dismiss="modal" class="btn btn-out"><i class="fas fa-sign-out-alt"></i>
            Salir
        </button>
      </div>  
      </div>
    </div>
  </div>