{% load widget_tweaks %}
{% load static %}
<div class="modal fade" id="myModalGrupo" tabindex="-1" role="dialog" aria-hidden="true"  style="padding-right: 17px;">
    <form id="frmGrupo" action="."  method="post" enctype="multipart/form-data">
        <div class="modal-dialog cascading-modal mt-5" role="document">
            <div class="modal-content">
              <div class="modal-c-header">      
                <ul class="md-h md-header tabs-2 light-blue darken-3 d-flex align-items-center justify-content-center">
                    <h6 class="modal-title md-h title-custom text-white" id="titlegrupo">
                        <b><i class="fas fa-plus"></i> <span> gg </span></b>
                    </h6>
                </ul>
                <div class="modal-body">
                    <div class="container-fluid">
                        {% csrf_token %}
                        <input name="action" type="hidden" value="add">
                        <input name="id" id="id" type="hidden" value="0">                        
                        <div class="row"> 
                            <div class="col-12"> 
                                <div class="form-group">
                                    <label>Código</label>
                                    {{ frmGrupo.cod_grupo }}
                                </div>
                                <div class="form-group">
                                    <label>Grupo</label>
                                    {{ frmGrupo.nombre|attr:'onkeypress:return Solo_Texto(event);' }}
                                </div>
                            </div>                                                                           
                        </div> 
                    </div>                                  
                </div>
      
              </div>
              <div class="modal-footer mb-2 py-0 border-0 d-flex align-items-center justify-content-center">
                <button type="submit" class="btn btn-primary btn-bord"><i class="fas fa-save"></i> Guardar</button>
                <button type="button" data-dismiss="modal" class="btn btn-out"><i class="fas fa-sign-out-alt"></i> Salir</button>      
              </div>
            </div>
          </div>
    </form>
</div>

