@media screen and (min-height: 600px) {

	.scroll-v table {
		width: 100%;
		border-collapse: collapse;
	}

	.scroll-v tbody {
		display: block;
		max-height: 300px;
		/* ajusta la altura máxima según tus necesidades */
		overflow-y: auto;
	}

	.scroll-v tr {
		display: table;
		width: 100%;
		table-layout: fixed;
		border-collapse: collapse;
	}

	.scroll-v td:first-child {
		width: 10%;
	}

	.scroll-v td:nth-child(2) {
		width: 90%;
	}
}
.tab-content span.font-st{
color: #828d97;
font-weight: bold;
font-size: 14px;
}
.tab-content span{
	font-size: 14px;
}