ul.select2-results__options li {
    font-size: 11px;
    line-height: 12px;
    padding: 0px;
    margin: 0px;
}

.select2-selection__rendered {
    line-height: 25px !important;
}

.select2-container .select2-selection--single {
    height: 30px !important;
    border-radius: 0px !important;
}
table.max-cont th {
    color: #222a42b3;
    vertical-align: top;
}
.table thead th {
    vertical-align: middle;
    font-size: 12px;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #e0e0e0;
    padding-top: 0.590rem;
    padding-bottom: 0.590rem;
    line-height: 1;
}
.table>tbody>tr>td {
    vertical-align: middle;
    padding-top: 0.425rem;
    padding-bottom: 0.425rem;
    border-top: none !important;
    border-bottom: 1px solid #eeeeee !important;
}
@media screen and (min-height: 520px) {
    .scroll-s table {
        width: 100%;
        border-collapse: collapse;
    }

    .scroll-s tbody {
        display: block;
        max-height: 300px;
        overflow-y: auto;
    }

    .scroll-s tr {
        display: table;
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
    }

    .scroll-s::-webkit-scrollbar {
        width: 7px !important;
        height: 6px !important;
    }

    .scroll-s::-webkit-scrollbar-thumb {
        background: #8296a8 !important;
        border-radius: 7px !important;
    }

    .scroll-s table thead td:first-child {
        width: 100%;
    }

}