<div class="modal fade" id="myModalSearchProducts" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl cascading-modal mt-5" role="document">
        <div class="modal-content">
            <div class="modal-c-header">      
                <ul class="md-h md-header tabs-2 light-blue darken-3 d-flex align-items-center justify-content-center">
                    <h6 class="modal-title md-h title-custom text-white" id="modaltitleproduc">
                        <b><i class="fas fa-search"></i> <span> Catalogo de productos</span></b>
                    </h6>
                </ul> 
            </div>
            <div class="modal-body">
                <div class="scroll-h">
                    <table class="table max-cont table-hover table-sm" style="width:100%; font-size: 13px;" id="tblSearchProducts">
                        <thead>
                            <tr style="color: white;">
                            <th scope="col" style="width: 25%;">PRODUCTO</th>
                            <th scope="col" style="width: 25%">CATEGORÍA</th>
                            <th scope="col" style="width: 7%;">IMG</th>
                            <th scope="col" style="width: 14%;">PRECIO UNITARIO</th>
                            <th scope="col" style="width: 10%;">STOCK</th>
                            <th scope="col" style="width: 12%;">APARTADOS</th>
                            <th scope="col" style="width: 7%;">SELECC.</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table> 
                </div>                               
            </div>
            <div class="modal-footer mb-2 py-0 border-0 d-flex align-items-center justify-content-center">
                <button type="button" data-dismiss="modal" class="btn btn-out"><i class="fas fa-sign-out-alt"></i> Salir</button>      
            </div>
        </div>
    </div>

</div>
