{% extends 'list.html' %}
{% load static %}
{% block head_list %}
<!-- Daterange picker -->
<link rel="stylesheet" href="{% static 'lib/daterangepicker/daterangepicker.css' %}">
<link rel="stylesheet" href="{% static 'css/modal_style.css' %}">
{% endblock %}
{% block columns %}
    <tr style="font-size: 12px;">
        <th scope="col">Nº</th>
        <th scope="col">CÓDIGO</th>
        <th scope="col">UNIDAD SOLICITANTE</th>
        <th scope="col">PERSONA SOLICITANTE</th>
        <th scope="col">PRIORIDAD</th>
        <th scope="col">MOTIVO</th>
        <th scope="col">STATUS</th>
        <th scope="col">FECHA</th>
        <th scope="col">OPCIONES</th>
    </tr>
{% endblock %}

{% block rows %}
            
{% endblock %} 


{% block javascript_list %}
<script src="{% static 'lib/daterangepicker/spanish.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/daterangepicker/daterangepicker.js' %}" type="text/javascript"></script>
<script src="{% static 'solicitud_soporte/js/list.js' %}" type="text/javascript">  </script>
{% endblock %}

{% block content_list_before %}
<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <label><i class="far fa-calendar-alt"></i> Rangos de fechas:</label>
            <div class="input-group">
                {{ form.date_range }}
                <div class="input-group-append">
                    <button class="btn btn-sm btn-primary" data-toggle="dropdown"  type="button">
                        <i class="fas fa-sort-amount-down"></i> Filtrar
                    </button>
                    <div class="dropdown-menu dropdown-menu-left">
                        <a class="dropdown-item btnSearch">
                            <i class="fas fa-calendar-check"></i> Por rangos de fechas
                        </a>                                    
                        <a class="dropdown-item btnSearchAll">
                            <i class="fas fa-calendar-check"></i> Ver todos los registros
                        </a>
                    </div>                           
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
{% endblock %}


