<div class="modal fade" id="myModalSearchProducts" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header py-2 h-blue">
            <h5 class="modal-title title-custom text-white" id="tlSolic_prod">
                <b><i class="fa fa-search"></i>   Catálogo de Productos</b>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="scroll-h">
                    <table class="table table-hover max-cont table-sm" style="width:100%; font-size: 13px;" id="tblSearchProducts">
                        <thead>
                            <tr style="color: white;">
                            <th scope="col">PRODUCTO</th>
                            <th scope="col">IMG</th>
                            <th scope="col">CÓDIGO DE BIEN</th>
                            <th scope="col">UBICACIÓN FÍSICA</th>
                            <th scope="col">SELECC.</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>   
                </div>                            
            </div>
            <div class="modal-footer py-1 text-center">                    
                <button type="button" class="btn btn-sm close" style="background-color:rgb(235, 10, 10);" data-dismiss="modal"><i class="fas fa-sign-out-alt"></i> Salir</button>
            </div>
        </div>
    </div>

</div>
