<div class="modal fade" id="detalle_prod" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header py-2 h-blue">
                <h5 class="modal-title title-custom"  id="detail_prod">
                    <b><i class="fas fa-info"></i>  <span> gg </span> <span id="codigo"> </span></b>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="user-panel pb-2 mb-3 d-flex justify-content-center align-items-center">
                                    <div class="image">
                                        <span id="image"></span>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <span style="font-weight: bold;">Nombre: </span>
                                        <span id="first_name"></span>
                                        <hr style="margin-top: 6px;">					                                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">                                      
                                        <span style="font-weight: bold;">Descripción: </span>
                                        <span id="desc"></span>
                                        <hr style="margin-top: 6px;">	
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <span style="font-weight: bold;">Categoría: </span>
                                        <span id="last_name"></span>  
                                        <hr style="margin-top: 6px;">	                                      
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <span style="font-weight: bold;">Marca: </span>
                                        <span id="dni"></span>                                
                                        <hr style="margin-top: 6px;">	
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <span style="font-weight: bold;">Modelo: </span>
                                        <span id="email"></span>
                                        <hr style="margin-top: 6px;">	
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <span style="font-weight: bold;">Unidad de Medida: </span>
                                        <span id="medida"></span>
                                        <hr style="margin-top: 6px;">	
                                    </div>
                                </div>
                            </div>                                                      
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <span style="font-weight: bold;">Grupo: </span>
                                        <span id="fecha"></span>                                      
                                        <hr style="margin-top: 6px;">	
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <span style="font-weight: bold;">Sub-Grupo: </span>
                                        <span id="sesion"></span>
                                        <hr style="margin-top: 6px;">	
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <span style="font-weight: bold;">Moneda: </span>
                                        <span id="moneda"></span>
                                        <hr style="margin-top: 6px;">	
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <span style="font-weight: bold;">Estado: </span>
                                        <span id="active"></span>
                                        <div class="d-inline" style="margin-left: 20px;">
                                            <span style="font-weight: bold;">Paga Impuesto: </span>
                                            <span id="imp"></span>
                                        </div>
                                        <div class="d-inline" style="margin-left: 20px;">
                                            <span style="font-weight: bold;">Solicita Nº Lote: </span>
                                            <span id="lote"></span>
                                        </div>
                                        <div class="d-inline" style="margin-left: 20px;">
                                            <span style="font-weight: bold;">Solicita Nº Serie: </span>
                                            <span id="serie"></span>
                                        </div>
                                        <div class="d-inline" style="margin-left: 20px;">
                                            <span style="font-weight: bold;">Inventariable: </span>
                                            <span id="inv"></span>
                                            <hr style="margin-top: 6px;">
                                        </div>                                                                           
                                    </div>
                                </div>
                            </div>
                        </div>                        
                        <!-- /.row -->
                    </div>
                </div>
            </div>
        </div>