{% load static %}
<div class="modal fade" id="historical" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg cascading-modal mt-5" role="document">
		<div class="modal-content" style="border-radius: .65rem;">
			<div class="modal-c-header">      
                <ul class="md-h md-header tabs-2 light-blue darken-3 d-flex align-items-center justify-content-center">
                    <h6 class="modal-title md-h title-custom text-white" id="historical_title">
                        <b><i class="fas fa-pen"></i> <span> Campos Modificados</span></b>
                    </h6>
                </ul> 
              </div> 
			<div class="modal-body">
                <div class="container">
                    <div class="row mt-4">
                        <div class="col-12">
                            <div class="table-wrapper">
                                <div id="table_historical">

                                </div>                                       
                            </div>                                               
                        </div>
                    </div>
                </div>                      
            </div>
            <div class="modal-footer mb-2 py-0 border-0 d-flex align-items-center justify-content-center">
                <button type="button" data-dismiss="modal" class="btn btn-out"><i class="fas fa-sign-out-alt"></i> Salir</button>      
            </div>														
		</div>                      
	</div>
</div>
